//! **************************************************************************
// Written by: Map K.39 on Wed Mar 06 17:15:29 2019
//! **************************************************************************

SCHEMATIC START;
COMP "led_o" LOCATE = SITE "P11" LEVEL 1;
COMP "clk_i" LOCATE = SITE "T9" LEVEL 1;
COMP "rst_i" LOCATE = SITE "L14" LEVEL 1;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

